<div class="container vh-100 d-flex">
  <div class="row mx-auto align-items-center">
    <div class="col text-center mx-auto">
      <div><%= image_tag @user.decorate.avatar, class: 'rounded-circle' ,width: '300', height: '300' %></div>
      <p class="mt-4">名前</p>
      <h2><%= @user.name %></h2>
      <p class="mt-4">プロフィール</p>
      <h4><%= @user.profile %></h4>
      <p class="mt-4">趣味</p>
      <h4><%= @user.hobby %></h4>
      <% if current_user.follow?(@user) %>
        <%= link_to "フォローを外す", follow_path(id: @user.id), class:"btn btn-outline-primary mt-5", method: :delete %>
      <% else %>
        <%= link_to "フォローする", follows_path(id: @user.id), class:"btn btn-primary mt-5", method: :post %>
      <% end %>
    </div>
  </div>
</div>